<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main_template">

<head>
    <title>ajax</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
</head>
<body>
<div layout:fragment="content">
    <button onclick="Ajax()">Ajax</button>
    <h4><span id="name">이름</span></h4>
    <h4><span id="age">나이</span></h4>

    <script type="text/javascript">
        function Ajax(){
            let param = {
                "name" : "한기태",
                "age" : "29"
            };

            $.ajax({
                url: "ajax",
                method: "POST",
                data: JSON.stringify(param),
                async : false,
                // dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    alert("송신 성공");
                    alert("data : " + data);

                    $('#name').text("Name: " + data.name);
                    $('#age').text("Age: " + data.age);
                },
                error: function(error) {
                    alert("송신 실패");
                },
            });
        }
    </script>
</div>
</body>
</html>
