<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main_template">

<head>
    <title>ajax</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <button onclick="Ajax()">Ajax</button>
    <h2><span id="go">클릭 전</span></h2>

    <script type="text/javascript">
        function Ajax(){
            let param = {
                "name" : "한기태",
                "age" : "29"
            };

            $.ajax({
                url: "ajax",
                method: "POST",
                data: JSON.stringify(param),
                // dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    alert("송신 성공");
                    $('#go').text("클릭 후");

                    alert("data : " + data);

                    alert("param : " + param);
                    alert("param.name : " + param.name);
                    alert("JSON.stringify(param.name) : " + JSON.stringify(param.name));

                    alert("data.name : " + data.name);
                    alert("JSON.stringify(data.name) : " + JSON.stringify(data.name));
                    alert("data.age : " + data.age);
                    alert("JSON.stringify(data.age) : " + JSON.stringify(data.age));
                    alert("data.age : " + data.phone);
                    alert("JSON.stringify(data.age) : " + JSON.stringify(data.phone));

                    // alert("JSON.parse(data).name : " + JSON.parse(data).name);
                    // alert("JSON.parse(data).age : " + JSON.parse(data).age);
                },
                error: function(error) {
                    alert("송신 실패");
                },
            });
        }
    </script>
</div>
</body>
</html>
