<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main_template">

<head>
  <title>siteUdic</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<div layout:fragment="content">
  <h2 th:text="#{dic.header.manage}">사용자 사전 관리</h2>
  <div><button type="button" id="modal_opne_btn">모달 창</button></div>
  <div id="modal">
    <div class="modal_content">
      <h2>모달 창</h2>
      <p>모달 창 입니다.</p>
      <button type="button" id="modal_close_btn">닫기</button>
    </div>
    <div class="modal_layer"></div>
  </div>

  <div class="manage">
    <div class="manage_right">
      <form id="manage" th:action="@{/siteUdic/manage}" method="POST" th:object="${siteThesaurusDTO}">
        <table class="table table-hover" border="1">
          <tr><h2>유의어 사전</h2></tr>
          <tr>
            <td scope="row" align="center" width="100"><input type='checkbox' name='wordList1' value='selectall' onclick='selectAll1(this)'>
            <td scope="row" align="center" width="200" th:text="#{dic.head}">HEAD</td>
            <td scope="row" align="center" width="200" th:text="#{dic.tail}">TAIL</td>
            <td scope="row" align="center" width="200" th:text="#{dic.memo}">메모</td>
            <td scope="row" align="center" width="200" th:text="#{dic.regdate}">등록일시</td>
          </tr>
          <tr th:if="${#lists.isEmpty(list_thesaurus)}"><td td scope="row" align="center" colspan="3" th:text="#{common.listEmpty}">List is empty.</td></tr>
          <tr th:each="siteThesaurus : ${list_thesaurus}">
            <td scope="row" align="center">
              <input type="checkbox" id="checkbox1" name="wordList11" th:field="*{_head_word}" th:value="${siteThesaurus._head_word}" class="form-check-input">
    <!--          <label th:for="${#ids.prev('_word')}" th:text="${siteUdic._word}" class="form-check-label"></label>-->
            </td>
<!--            <td scope="row" align="center"><a href="modfiy.html" th:href="'/siteUdic/modify?originWord=' + ${siteThesaurus._head_word}" th:text="${siteThesaurus._head_word}">${siteThesaurus._head_word}</a></td>-->
            <td scope="row" align="center" th:text="${siteThesaurus._head_word}">${siteThesaurus.headWord}</td>
            <td scope="row" align="center" th:text="${siteThesaurus._tail_word}">${siteThesaurus.tailWord}</td>
            <td scope="row" align="center" th:text="${siteThesaurus._memo}">${siteThesaurus.memo}</td>
            <td scope="row" align="center" th:text="${#temporals.format(siteThesaurus._up_dated, 'yyyy-MM-dd HH:mm')}">${siteThesaurus.regDate}</td>
          </tr>
        </table>
      </form>
    </div>

    <div class="manage_left">
      <form id="manage2" th:action="@{/siteUdic/manage}" method="POST" th:object="${siteUdicDTO}">
        <table class="table table-hover" border="1">
          <tr><h2>사용자 사전</h2></tr>
          <tr>
            <td scope="row" align="center" width="100"><input type='checkbox' name='wordList' value='selectall' onclick='selectAll2(this)'>
            <td scope="row" align="center" width="200" th:text="#{dic.word}">단어</td>
            <td scope="row" align="center" width="200" th:text="#{dic.memo}">메모</td>
            <td scope="row" align="center" width="200" th:text="#{dic.regdate}">등록일시</td>
          </tr>
          <tr th:if="${#lists.isEmpty(list_uDic)}"><td td scope="row" align="center" colspan="3" th:text="#{common.listEmpty}">List is empty.</td></tr>
          <tr th:each="siteUdicDTO : ${list_uDic}">
            <td scope="row" align="center">
              <input type="checkbox" id="checkbox2" name="wordList22" th:field="*{_word}" th:value="${siteUdicDTO._word}" class="form-check-input">
              <!--          <label th:for="${#ids.prev('_word')}" th:text="${siteUdicDTO._word}" class="form-check-label"></label>-->
            </td>
            <td scope="row" align="center"><a href="modfiy.html" th:href="'/siteUdic/modify?_word=' + ${siteUdicDTO._word}" th:text="${siteUdicDTO._word}">${siteUdicDTO._word}</a></td>
            <td scope="row" align="center" th:text="${siteUdicDTO._memo}">${siteUdicDTO.memo}</td>
            <td scope="row" align="center" th:text="${#temporals.format(siteUdicDTO._up_dated, 'yyyy-MM-dd HH:mm')}">${siteUdicDTO.regDate}</td>
          </tr>
        </table>
      </form>
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-primary" id="btnRenew" th:text="#{action.renew}">갱신</button>
    <button type="submit" class="btn btn-primary" id="btnRemove" th:text="#{action.remove}">삭제</button>
    <button type="submit" class="btn btn-primary" id="btncheckedRemove" th:text="#{action.remove.checked}">선택삭제</button>
    <button type="submit" class="btn btn-primary" id="btnList" th:text="#{action.list}">목록</button>
  </div>

  <br>

  <script>
    function selectAll1(selectAll)  {
      const checkboxes
              = document.querySelectorAll('input[id="checkbox1"]');
      checkboxes.forEach((checkbox1) => {
        checkbox1.checked = selectAll.checked
      })
    }

    function selectAll2(selectAll)  {
      const checkboxes
              = document.querySelectorAll('input[id="checkbox2"]');
      checkboxes.forEach((checkbox2) => {
        checkbox2.checked = selectAll.checked
      })
    }

    document.getElementById("modal_opne_btn").onclick = function() {
      document.getElementById("modal").style.display="block";
    }
    document.getElementById("modal_close_btn").onclick = function() {
      document.getElementById("modal").style.display="none";
    }




    var formObj = $("#manage");
    $("#btncheckedRemove").on("click", function() {
      // checkBox();
      formObj.submit();
    });

    // $("#btncheckedRemove").on("click", function() {
    //   checkBox();
    //   self.location = "manage";
    // });

    $(document).ready(function() {
      $("#btnRenew").on("click", function() {
        self.location = "renew";
      });

      $("#btnRemove").on("click", function() {
        self.location = "remove";
      });

      $("#btnList").on("click", function() {
        self.location = "list";
      });
    });
  </script>

</div>
</body>
</html>
