<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/main_template">

<head>
	<title>Item</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{item.header.register}">상품 등록</h2>
	<form id="item" action="list.html" th:action="@{/item/register}" th:object="${item}" method="POST" enctype="multipart/form-data">
		<table th:class="table-image">
			<tr>
				<td class="form-label mt-4" th:text="#{item.itemName}">상품명</td>
				<div class="form-group">
					<td><input type="text" class="form-control" name="itemName" th:field="*{itemName}" /></td>
				</div>
				<td><span class="error_message" th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}">itemName의 에러 메시지</span></td>
			</tr>
			<tr>
				<td class="form-label mt-4" th:text="#{item.itemPrice}">상품가격</td>
				<div class="form-group">
					<td>
						<div class="form-display-inline">
							<input type="text" class="form-control" name="price" th:field="*{price}" />
						</div>
					</td>
					<td>
						<div class="form-display-inline">원</div>
					</td>
				</div>
				<td><span class="error_message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price의 에러 메시지</span></td>
			</tr>
			<tr>
				<td class="form-label mt-4" th:text="#{item.itemFile}">상품파일</td>
				<td><input type="file" name="picture" /></td>
				<td></td>
			</tr>
			<tr>
				<td class="form-label mt-4" th:text="#{item.itemPreviewFile}">미리보기파일</td>
				<td><input type="file" name="preview" /></td>
				<td></td>
			</tr>
			<tr>
				<td class="form-label mt-4" th:text="#{item.itemDescription}">상품설명</td>
				<div class="form-group">
					<td><textarea class="form-control" name="description" th:field="*{description}"></textarea></td>
				</div>
				<td><span class="error_message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description의 에러 메시지</span></td>
			</tr>
		</table>
	</form>
	
	<div class="btn-margin-bottom">
		<button type="submit" class="btn btn-primary" id="btnRegister" th:text="#{action.register}">등록</button>
		<button type="submit" class="btn btn-secondary" id="btnList" th:text="#{action.list}">목록</button>
	</div>
	
	<script>
		$(document).ready(function() {
	
			var formObj = $("#item");
	
			$("#btnRegister").on("click", function() {
				formObj.submit();
			});
	
			$("#btnList").on("click", function() {
				self.location = "list";
			});
	
		});
	</script>
</div>
</body>
</html>
