<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/main_template">

<head>
	<title>Notice</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{notice.header.list}">공지사항 목록</h2>
	
	<th:block sec:authorize="hasRole('ADMIN')">
		<a class="btn btn-outline-primary btn-margin-bottom" href="register.html" th:href="@{/notice/register}" th:text="#{action.new}">새로만들기</a>
	</th:block>
	
	<table class="table table-hover" border="1">
		<tr class="table-primary">
			<td scope="row" align="center" width="200" th:text="#{notice.no}">번호</td>
			<td scope="row" align="center" width="200" th:text="#{notice.title}">제목</td>
			<td scope="row" align="center" width="200" th:text="#{notice.regdate}">등록일시</td>
		</tr>
		
		<tr th:if="${#lists.isEmpty(list)}">
			<td td scope="row" align="center" colspan="3" th:text="#{common.listEmpty}">
				List is empty.
			</td>
		</tr>
		
		<tr th:each="notice : ${list}">
			<td scope="row" align="center" th:text="${notice.noticeNo}">${notice.noticeNo}</td>
			<td scope="row" align="center"><a href="read.html" th:href="|/notice/read?noticeNo=${notice.noticeNo}|" th:text="${notice.title}">${notice.title}</a></td>
			<td scope="row" align="center" th:text="${#temporals.format(notice.regDate, 'yyyy-MM-dd HH:mm')}"></td>
		</tr>
	</table>
	
	<script th:inline="javascript">
		var result = [[${msg}]];
		
		if (result === "SUCCESS") {
			alert([[#{common.processSuccess}]]);
		}
	</script>
</div>
</body>
</html>
