<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/main_template">
  
<head>
	<title>CodeDetail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{codedetail.header.list}"></h2>
	<a class="btn btn-outline-primary btn-margin-bottom" href="register.html" th:href="@{/codedetail/register}" th:text="#{action.new}">새로만들기</a>
	<table class="table table-hover" border="1">
		<tr class="table-info2">
			<td scope="row" align="center" width="160" th:text="#{codedetail.groupCode}">그룹코드</td>
			<td scope="row" align="center" width="160" th:text="#{codedetail.codeValue}">코드값</td>
			<td scope="row" align="center" width="160" th:text="#{codedetail.codeName}">코드명</td>
			<td scope="row" align="center" width="160" th:text="#{codedetail.sortSeq}">정렬순서</td>
			<td scope="row" align="center" width="180" th:text="#{codedetail.regdate}">등록일시</td>
		</tr>
		
		<tr th:if="${#lists.isEmpty(list)}">
			<td td scope="row" align="center" colspan="5" th:text="#{common.listEmpty}">
				List is empty.
			</td>
		</tr>
		
		<tr th:each="codeDetail : ${list}">
			<td scope="row" align="center" th:text="${codeDetail.groupCode}">${codeDetail.groupCode}</td>
			<td scope="row" align="center" th:text="${codeDetail.codeValue}">${codeDetail.codeValue}</td>
			<td scope="row" align="center"><a href="read.html" th:href="|/codedetail/read?groupCode=${codeDetail.groupCode}&codeValue=${codeDetail.codeValue}|" th:text="${codeDetail.codeName}">${codeDetail.codeName}</a></td>
			<td scope="row" align="center" th:text="${codeDetail.sortSeq}">${codeDetail.sortSeq}</td>
			<td scope="row" align="center" th:text="${#temporals.format(codeDetail.regDate, 'yyyy-MM-dd HH:mm')}">${codeDetail.regDate}</td>
		</tr>
	</table>
	
	<script th:inline="javascript">
		var result = [[${msg}]];
	
		if (result === "SUCCESS") {
			alert([[#{common.processSuccess}]]);
		}
	</script>
</div>
</body>
</html>
