<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layouts/main_template">

<head>
	<title>Coin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{useritem.header.list}">구매상품 목록</h2>

	<table class="table table-hover" border="1">
		<tr>
			<td scope="row" align="center" width="80" th:text="#{useritem.no}">번호</td>
			<td scope="row" align="center" width="100" th:text="#{useritem.itemName}">상품명</td>
			<td scope="row" align="center" width="100" th:text="#{useritem.itemPrice}">상품가격</td>
			<td scope="row" align="center" width="180" th:text="#{useritem.regdate}">구매일시</td>
			<td scope="row" align="center" width="180" th:text="#{useritem.download}">다운로드</td>
		</tr>

		<tr th:if="${#lists.isEmpty(list)}">
			<td scope="row" align="center" colspan="5" th:text="#{common.listEmpty}">
				List is empty.
			</td>
		</tr>

		<tr th:each="useritem : ${list}">
			<td scope="row" align="center" th:text="${useritem.userItemNo}">${useritem.userItemNo}</td>
			<td scope="row" align="center"><a href="read.html" th:href="|/useritem/read?userItemNo=${useritem.userItemNo}|" th:text="${useritem.itemName}">${useritem.itemName}</a></td>
			<td scope="row" align="center" th:text="${useritem.price}">${useritem.price}</td>
			<td scope="row" align="center" th:text="${#temporals.format(useritem.regDate, 'yyyy-MM-dd HH:mm')}"></td>
			<td scope="row" align="center"><a href="." th:href="|/useritem/download?userItemNo=${useritem.userItemNo}|">DOWNLOAD</a></td>
		</tr>
	</table>
</div>
</body>
</html>
