<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid" >
        <a class="navbar-brand" href="../home.html" th:href="@{/}">Diquest</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto" sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link active" href="../user/register.html" th:href="@{/user/register}" th:text="#{header.joinMember}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="../auth/loginForm.html" th:href="@{/auth/login}" th:text="#{header.login}">로그인</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav me-auto" sec:authorize="isAuthenticated()">
            <form class="header-margin-top" action="../auth/logout.html" th:action="@{/auth/logout}" method="POST">
                <span sec:authentication="principal.username">홍길동</span>님
                <button class="btn btn-secondary btn-sm" th:text="#{header.logout}">로그아웃</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>