<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/main_template">

<head>
	<title>Coin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{coin.header.list}">충전 내역</h2>
	
	<table class="table table-hover" border="1">
		<tr class="table-info">
			<td scope="row" align="center" width="200" th:text="#{coin.no}">번호</td>
			<td scope="row" align="center" width="200" th:text="#{coin.amount}">충전금액</td>
			<td scope="row" align="center" width="200" th:text="#{coin.regdate}">등록일시</td>
		</tr>
		
		<tr th:if="${#lists.isEmpty(list)}">
			<td td scope="row" align="center" colspan="3" th:text="#{common.listEmpty}">
				List is empty.
			</td>
		</tr>
		
		<tr th:each="chargeCoin : ${list}">
			<td scope="row" align="center" th:text="${chargeCoin.historyNo}">${chargeCoin.historyNo}</td>
			<td scope="row" align="center" th:text="${chargeCoin.amount}">${chargeCoin.amount}</td>
			<td scope="row" align="center" th:text="${#temporals.format(chargeCoin.regDate, 'yyyy-MM-dd HH:mm')}">${chargeCoin.regDate}</td>
		</tr>
	</table>
</div>
</body>
</html>
